<!DOCTYPE html>
<html>
<head>
	<title>liveditor - about project</title>
	<style type="text/css">

::-webkit-scrollbar { display: none; }

* { box-sizing: border-box; }

body {
	margin: 0;
	padding: 0;
	background-color: rgb(46, 46, 81);
}

#container {
	display: block;
	margin: 1.2cm auto;
	text-align: center;
}

h2 {
	background-color: #353e41;
	padding: 6px;
	margin: 8px auto;
	color: yellowgreen;
    border: 8px;
	font-size: 2rem;
	font-family: Helvetica, sans-serif, cursive;
}

p {
    display: block;
    margin: auto;
    padding: 1cm;
    color: white;
    line-height: 1.6;
    font-size: 1.2rem;
    font-family: cursive, helvetica, sans-serif;
    width: 80%;
}

span {
    color: rgb(185, 185, 105);
}

code {
    color: violet;
}


	</style>
</head>
<body>

<div id="container">
    <h2>About this project</h2>
    <p>
        This was one of my old projects somewhere inside my hard disk d: drive;
        I decided to rebuild it with modern feeatures and updated html5 css3 and es5 syntax;
        <br/>
        <br/>
        Initailly it was built only for us me and my peers to individually teach and learn 
        basics of html, css and javascript. Then we realized it would be helpful for other 
        learners too, if its open sourced.
        <br/><br/>
        <span>
            of course it contains more bugs and errors. Noticed bugs have been solved before, 
            if you find any logical syntactical errors, bugs or misbehaviour mention in issues 
            page.
        </span>
        <br/>
        <br/>
        <br/>

        <code>
        function thanksToYou() {
            alert('mention your feedback');
        }

        <br/>
        <br/>
        <br/>


       <span> // design & developed by sadiq & mishal</span>
    </code>
    </p>
</div>

</body>
</html>